{% extends 'recruitmentservices/base.html' %}
{% load static %}
<html>
<head>
   
  
      <link rel='stylesheet'href={% static 'css/style.css'%}>
  
<title>
{% block title_html %}Recruitment Services Website{% endblock %}
</title>
</head>

{% block body_block %}

<div class='main_container'>
    <div class='center'>
    <h1 class='title'><p class='signin'>Vaccancies</p>
        <table class='table'>
    <td class='td6'align=center><a class='link' href='{% url 'recruitersite_app:index'%}'><h3>all</h3></a></td>
    <td class='td6'align=center><a class='link' href='{% url 'recruitersite_app:active'%}'><h3>active</h3></a></td>
    <td class='td6'align=center><a class='link' href='{% url 'index'%}'><h3>closed</h3></a></td>
    <td class='td6'align=center><a class='link' href='{% url 'recruitersite_app:expired'%}'><h3>expired</h3></a></td>
        </table>
        {%if vaccancies%}
        {%for vaccancy in vaccancies%}
        <div class='vaccancy_div'>
        <p  class='vaccancy_div'>{{vaccancy.title}}<br>{{vaccancy.expiry_date}}<br>{{vaccancy.recruiter}}<br>{{vaccancy.employmenttype}}</p>
             <form action={% url 'recruitersite_app:view'%} method='POST'enctype='multipart/form-data' method='post'>
        {% csrf_token %}
        <p>
              
        <input type="hidden" id="csrfToken" value="{{ csrf_token }}">
                         <p><input class='registerbtn1' class='button1' type='submit' name='' value='View'></p>
       <input class='input'type='hidden' name='vaccancy' value='{{vaccancy.vaccancyid}}'>
        

                </p>
                </form>
        </div> <hr class='hr'>
        {%endfor%}
        {%else%}
        <p>You do not have any active vaccancies</p>
        {%endif%}
        </h1>
    </div></div>
    {% endblock %}



</html>