{% extends 'recruitmentservices/base.html' %}
{% load static %}
<html>
<head>
   
  
      <link rel='stylesheet'href={% static 'css/style.css'%}>
  
>
</head>

{% block body_block %}

<div class='main_container'>
    <div class='center'>
    <h1 class='title'><p class='signin'>Vaccancy</p>
        <table class='table'>
    <td class='td6'align=center><a class='link' href='{% url 'recruitersite_app:index'%}'><h3>All</h3></a></td>
    <td class='td6'align=center><a class='link' href='{% url 'recruitersite_app:active'%}'><h3>active</h3></a></td>
    <td class='td6'align=center><a class='link' href='{% url 'index'%}'><h3>closed</h3></a></td>
    <td class='td6'align=center><a class='link' href='{% url 'recruitersite_app:expired'%}'><h3>expired</h3></a></td>
        </table>
       <p class='vaccancy_div'>{{vaccancy.title}}
           <br>Date Posted: {{vaccancy.date_posted}}
           <br>Expiry Date: {{vaccancy.expiry_date}}
           <br>Recruiter: {{vaccancy.recruiter}}
           <br>Employment Type: {{vaccancy.employmenttype}}
           <br>Location: {{vaccancy.location}}
           <br>Duration: {{vaccancy.duration}}
           <br>Responsibilities: {{vaccancy.responsibilities}}
           <br>Attributes: {{vaccancy.attributes}}
           <br>Requirements: {{vaccancy.requirements}}
           <br>Offer: {{vaccancy.offer}}
            <br><br><input class='registerbtn2'  type='submit' name='' value='Close'>              <tab></tab><input class='registerbtn1' type='submit' name='' value='Re-post'></p>
     
        </h1>
    </div></div>
    {% endblock %}



</html>